SECURITY_KEY='Django Secret Key, you can generate with get_random_secret_key() function from django.core.management.utils.'

EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=465
EMAIL_HOST_USER='syntaxfa@gmail.com'
EMAIL_HOST_PASSWORD='pass'

ALLOWED_HOSTS='localhost,127.0.0.1'

DJANGO_ENV=development

DJANGO_PORT=8000

REDIS_HOST=redis_syntax_host
REDIS_HOST_DEBUG=localhost
REDIS_PASSWORD=redis_syntax_password
REDIS_PORT=6755

CELERY_PREFETCH_MULTIPLIER=8

LOGGER_NAME=standard

POSTGRES_HOST=syntax_postgres_host
POSTGRES_HOST_DEBUG=localhost
POSTGRES_DB_NAME=postgres
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_PORT=5699
POSTGRES_CONN_MAX_AGE=600

JWT_ACCESS_TOKEN_LIFETIME_IN_SECONDS=120
JWT_REFRESH_TOKEN_LIFETIME_IN_DAYS=90